.gameOverWrapper {
  position: absolute;
  margin-left: -15px;
  height: 100%;
  width: 100%;
  z-index: 2;
  opacity: .8;
  background-color: rgb(61, 61, 59);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;}
  .textArea {
    color: white;
    background-color:rgb(61, 61, 59);}

.inputNameForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;}

  .icon {
    text-align: center;
    font-weight: bold;
    font-size: 150px;
    color: rgb(30, 172, 77);
    text-shadow: 5px 5px 10px black;}
    .githubLink {
      font-size: 20px;
      text-align: center;}
      
  .normalButtons {
    width: 150px;
    margin: 10px;
    font-weight: bold;}
    .btn-flat {
      background-color: rgb(0, 128, 21);
      color: white;}